<web-app>

<servlet>
    <servlet-name>fjb_music</servlet-name>
    <servlet-class>fjb_music</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>fjb_music</servlet-name>
    <url-pattern>/fjb_music</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PayServlet1</servlet-name>
    <servlet-class>PayServlet1</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PayServlet1</servlet-name>
    <url-pattern>/PayServlet1</url-pattern>
  </servlet-mapping>

</web-app>
