#head_h1{
	width : 150px;
	border: solid 1px blue;
}
#main{
	background-color : #ffffff;
	width : 700px;
	height : 750px;
	margin-left : auto;
	margin-right : auto;
	margin-bottom : auto;
	border: solid 1px blue;
	padding-left: 100px;
}
#navi{
	width : 630px;
	margin-left: auto;
	margin-right : auto;
/* 	border: solid 1px red; */

}
#nyuuryoku{
	margin-left : 100px;
}

.main_img{
	width: 15%;
}
.main_yimg{
	width: 4%;
}

#tbl{
	margin-left : auto;
	margin-right : auto;
}
#btn{
	width: 100px;
	height: 40px;

}
#btnbox{
	width : 200px;
	margin-left: auto;
	margin-right : 0px;
	border: solid 1px red;
}