div.example { /* 親ボックス */
width: 80%;
height: 80%;

position: absolute;

}

div.box1 { /* ボックス1 */
width: 20%;
height: 20%;

position: absolute;

}

div.box2 { /* ボックス2 */
width: 20%;
height: 20%;

position: down;
}

</style>

</head>
<body>

<div class="example">

<div class="box1">ボックス1</div>
<div class="box2">ボックス2</div>

</div>

</body>
</html>