.soreppoi{
	font-size: 40px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.main_detail{
	margin-top: 40px;
}

#cd_img{
	width: 100px;
	height: 100px;
	float: left;
	margin-left: 5px;
}
#mei{
	font-size: 30px;
	margin-left: 20px;
	margin-right: auto;
}
#sin{
	font-size: 17px;
	margin-left: 20px;
}

#cart_img{
	width: 50px;
	float: right;
	margin-right: 10px;
}

.mu{
	margin-left: 55px;
	margin-top: 60px;
}
#na{
	float: left;
	margin-left: 20px;

}
#shi{
	float: left;
margin-left: 55px;

}
