.soreppoi{
	font-size: 40px;
/* 	position: absolute; */
/* 	top: 180px; */
/* 	left: 470px; */
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.main_detail{
	margin-top: 100px;
}

#cd_img{
	width: 200px;
	height: 200px;
	float: left;
	margin-left: 100px;
}
#mei{
	font-size: 30px;
	margin-left: 350px;
	margin-right: auto;
}
#sin{
	font-size: 17px;
	margin-left: 20px;
}

#cart_img{
	width: 50px;
	float: right;
	margin-right: 300px;
}

#kaka{
	float: right;
	margin-right: 290px;
}
.mu{
	margin-left: 55px;
	margin-top: 60px;
}
#na{
	float: left;
	margin-left: 50px;

}
#shi{
	float: left;
	margin-left: 55px;
}
#foot{
	float: left;
}
