#head_h1{
	width : 150px;
/* 	border: solid 1px blue; */
	margin-left: 3px;
	margin-top: 32px;
}

#main1{
	background-color : #ffffff;
	width : 700px;
	height : 750px;
	margin-left : auto;
	margin-right : auto;
	margin-bottom : auto;
	border: solid 1px blue;
	padding-left: 0px;
}
#main2{
	background-color : #ffffff;
	width : 700px;
	height : 750px;
	margin-left : auto;
	margin-right : auto;
	margin-bottom : auto;
	border: solid 1px blue;
	padding-left: 0px;
}
#main3{
	background-color : #ffffff;
	width : 700px;
	height : 900px;
	margin-left : auto;
	margin-right : auto;
	margin-bottom : auto;
	border: solid 1px blue;
	padding-left: 20px;
	padding-right: 20px;
}
#main4{
	background-color : #ffffff;
	width : 700px;
	height : 400px;
	margin-left : auto;
	margin-right : auto;
	margin-bottom : auto;
	border: solid 1px blue;
	padding-left: 20px;
	padding-right: 20px;
}
#login_title{
	margin-top: 30px;
/* 	margin-left: 200px; */
	margin-right: auto;
}
#login{
	width: 100px;
	height: 25px;
	margin-top: 3px;
	margin-left: 300px;
	margin-right: auto;
}
table.login{
	margin-top: 10px;
	width : 400px;
	margin-left : auto;
	margin-right : auto;
	margin-bottom : auto;
	border-color: red;
}
table.login2{
	width: 500px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
#gust{
	width: 250px;
	height: 150px;
	background-color: skyblue;
}
#sinki{
	width: 250px;
	height: 150px;
	background-color: 	#32CD32;
}
table.sample2{
	border: solid 1px black;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;

	}
td.left2 {
	width : 120px;
	height : 35px;
	padding-left : auto;
	padding-right :auto;
	background-color: #bde9ba;
	}
	td.rigth2 {
	height : auto;
	width: 350px;
	padding-left: 15px;
	}
	td.last2 {
	background-color: #bde9ba;
	width : 120px;
	height : 100px;
	}
	#modoru{
	margin-left : 180px;
	margin-top : 30px;
	width: 50px;
	height: 40px;
	background-color: 	#ffffff;
/* 	border: solid 1px red; */
	}
	#kakunin{
	margin-left : 20px;
	margin-top : 30px;
	width: 250px;
	height: 40px;
	background-color: 	#66cdaa;
/* 	border: solid 1px red; */

}
	table.sample3 {
	border: solid 1px black;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 30px;

	}
td.left3 {
	width : 120px;
	height : 35px;
	padding-left : auto;
	padding-right :auto;
	background-color: #bde9ba;
	}
	td.rigth3 {
	height : auto;
	width: 350px;
	padding-left: 15px;
	}
	td.last3 {
	background-color: #bde9ba;
	width : 120px;
	height : 100px;
	}
	#modoru2{
	margin-left : 144px;
	margin-top : 30px;
	width: 50px;
	height: 40px;
	background-color: 	#ffffff;
/* 	border: solid 1px red; */
	}
#kakutei{
	margin-left : 20px;
	margin-top : 30px;
	width: 233px;
	height: 40px;
	background-color: 	#66cdaa;
/* 	border: solid 1px red; */

}
#navi{
	width : 630px;
	margin-left: auto;
	margin-right : auto;
/* 	border: solid 1px red; */

}
table.title1{
	margin-top: 30px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
table.title2{
	margin-top: 30px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
table.kakutei{
	width: 230px;
	margin-left: 220px;
	margin-right: auto;
}
#nyuuryoku{
	margin-left : 100px;
}

.main_img{
	width: 15%;
}
.main_yimg{
	width: 4%;
}

#tbl{
	margin-left : auto;
	margin-right : auto;
}

